.routerMagin{
    margin-top: 5%;
}
.spinner{
    position: absolute;
    z-index: 9;
    padding-left: 20%;
    padding-top: 20%;
    background: #80808085;
    width: 100%;
    height: 100%;
}
:host ::ng-deep button:disabled{
    cursor: not-allowed;
}